@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


$color2: #ffdb00;
body {
    background-color: #0a0206 !important;
    color: $color2;
}
.AppMain {
    @include u1.block_display();


    .topBar {
        padding: 40px 0 0;
        text-align: center;
        font-size: u1.rem(50);
        font-weight: 800;
    }

    .bthCvr {
        width: clamp(450px, 750px , 80%);
        margin: 0 auto;
        &:nth-child(1) {
            margin-top: -100px;
        }


        .imgCvr {
            @include u1.block_display();
            margin: 180px 0;
            padding: 13px;

            img {
                position: relative;
                max-width: 100%;
                border-radius: 5px;
                box-shadow: 6px 6px 0 #6a0ae1, 12px 12px 0 $color2;
            }
        }

        .h2Cvr {
            text-align: center;
            font-size: u1.rem(45);

            span {
                color: #000;
                text-shadow: 1px 1px 0 $color2, -1px -1px 0 $color2;
            }
        }
    }
}